.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 2rem;
  padding: 3rem;
}

body {
  background-color: rgb(3, 98, 153) !important;
  padding: 5px;
}

@media (max-width: 320px) {
  .maindiv {
    height: 507px;
  }
}

@media (max-width: 768px) {
  .maindiv {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .maindiv {
    height: 675px;
  }
}

/* .col {
  align-items: flex-start !important;
} */

.rowitems {
  align-items: center;
}

.box {
  background-color: whitesmoke;
  border-radius: 0.25rem;
}

.item {
  background-color: white;
  border-radius: 0.25rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.display {
  display: none;
}

input {
  word-wrap: break-word;
  word-break: break-all;
}
div {
  word-wrap: break-word;
  word-break: break-all;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.col {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem !important;
}
